<span class="col-lg-5"><strong>Name</strong> : {{item.prenom}} {{item.nom}}</span>
<span class="col-lg-7">Use <strong>{{item.languages.length}}</strong> language(s) and have <strong>{{item.userStories.length}}</strong> user stories </span>
