<span class="col-lg-4"><strong>Name :  </strong> {{item.name}}</span>
<span class="col-lg-4"><strong>User : </strong> {{item.user.prenom}} {{item.user.nom}}</span>
<span class="col-lg-4"><strong>Sprint :  </strong> {{item.sprint.nom}}</span>
