<h3 class="text-center">Language Creation</h3>
<div class="well container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="entityName" class="col-lg-3 control-label"> Name : </label>
      <div class="col-lg-9">
        <input id="entityName" class="form-control" type="text" ng-model="entity.name" required placeholder="Name" />
      </div>
    </div>
    <div class="form-group">
      <label for="entityUser" class="col-lg-3 control-label"> User : </label>

      <div class="col-lg-9" ng-init="list('user')">
          <select id="entityUser" ng-model="entity.user"
                  ng-options="user.prenom for user in listUsers">
            <option value="">-- choose an user --</option>
          </select>
      </div>
    </div>
    <input type="button" class="btn btn-primary col-lg-6 col-lg-offset-3" ng-click="addEntity('language')" value="Save" />
  </form>
</div>
