  <h3 class="text-center">Sprint Creation</h3>
  <div class="well container-fluid">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="entityName" class="col-lg-3 control-label"> Name : </label>
        <div class="col-lg-9">
          <input id="entityName" class="form-control" type="text" ng-model="entity.name" required placeholder="Name" />
        </div>
      </div>
      <input type="button" class="btn btn-primary col-lg-6 col-lg-offset-3" ng-click="addEntity('sprint')" value="Save" />
    </form>
  </div>

