<h3 class="text-center">Task Creation</h3>
<div class="well container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="entityName" class="col-lg-3 control-label"> Name : </label>
      <div class="col-lg-9">
        <input id="entityName" class="form-control" ng-model="entity.name" required placeholder=" Name"/>
      </div>
    </div>
    <div class="form-group">
      <label for="entityDescription" class="col-lg-3 control-label"> Description : </label>
      <div class="col-lg-9">
        <textarea id="entityDescription" class="form-control" ng-model="entity.description" required placeholder="Description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="entityUserStorie" class="col-lg-3 control-label"> User Storie : </label>

      <div class="col-lg-9" ng-init="list('userStorie')">
        <select id="entityUserStorie" ng-model="entity.userStorie"
                ng-options="userStorie.name for userStorie in listUserStories">
          <option value="">-- choose an Userstorie --</option>
        </select>
      </div>
    </div>
    <input type="button" class="btn btn-primary col-lg-6 col-lg-offset-3" ng-click="addEntity('task')" value="Save" />
  </form>
</div>
