
<h3 class="text-center">User Creation</h3>
<div class="well container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="entityFirstName" class="col-lg-4 control-label"> Firstname : </label>
      <div class="col-lg-8">
        <input id="entityFirstName" class="form-control"
               type="text" ng-model="entity.firstname"
               required placeholder="Firstname" />
      </div>
    </div>
    <div class="form-group">
      <label for="entityLastName" class="col-lg-4 control-label"> Lastname : </label>
      <div class="col-lg-8">
        <input id="entityLastName" class="form-control"
               type="text" ng-model="entity.lastname"
               required placeholder="Lastname" />
      </div>
    </div>
    <input type="button" class="btn btn-primary col-lg-6 col-lg-offset-3" ng-click="addEntity('user')" value="Save" />
  </form>
</div>

