<h3 class="text-center">User Storie Creation</h3>
<div class="well container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="entityName" class="col-lg-3 control-label"> Name : </label>
      <div class="col-lg-9">
        <input id="entityName" class="form-control" ng-model="entity.name" required placeholder=" Name"/>
      </div>
    </div>
    <div class="form-group">
      <label for="entityDescription" class="col-lg-3 control-label"> Description : </label>
      <div class="col-lg-9">
        <textarea id="entityDescription" class="form-control" ng-model="entity.description" required placeholder="Description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="entitySprint" class="col-lg-3 control-label"> Sprint : </label>

      <div class="col-lg-9" ng-init="list('sprint')">
        <select id="entitySprint" ng-model="entity.sprint"
                ng-options="sprint.nom for sprint in listSprints">
          <option value="">-- choose a sprint --</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="entityUser" class="col-lg-3 control-label"> User : </label>

      <div class="col-lg-9" ng-init="list('user')">
        <select id="entityUser" ng-model="entity.user"
                ng-options="user.prenom for user in listUsers">
          <option value="">-- choose an user --</option>
        </select>
      </div>
    </div>
    <input type="button" class="btn btn-primary col-lg-6 col-lg-offset-3" ng-click="addEntity('userStorie')" value="Save" />
  </form>
</div>
