<div class="list-group">
  <div ng-repeat="item in result" class="list-group-item container-fluid">
    <span class="col-lg-3"><strong>nom</strong> : {{item.nom}}</span>
    <span class="col-lg-3"><strong>Nb User Stories</strong> : {{item.userStories.length}}</span>
    <a href="">
      <span class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true"></span>
    </a>
  </div>
</div>
