<h3>{{eltSelect.name}} <span class="badge" ng-show="result.length > 0">{{result.length}}</span></h3>
<div ng-show="result.length > 0" >
  <div class="list-group">
    <div ng-repeat="item in result" class="list-group-item col-lg-10 container-fluid" >
      <div class="col-lg-10" ng-include="eltSelect.url">

      </div>
      <div class="btn-group btn-group-xs pull-right ">
        <a class="btn btn-info btn-xs" ng-click="info(item.id)"> <span class="glyphicon glyphicon-info-sign"></span></a>
        <a class="btn btn-danger btn-xs"  ng-click="remove(item.id)"> <span class="glyphicon glyphicon-remove-sign"></span></a>
      </div>
    </div>
  </div>
</div>
