<div class="container-fluid" ng-controller="MainCtrl">
  <div class=" col-lg-3">
    <div class="row">
      <h3 class="text-center"> Select an Entity : </h3>
    </div>
    <div class="row">
      <label for="entitySelect" class="sr-only"> Select an Entity: </label>
      <select name="entitySelect" id="entitySelect"
              ng-model="eltSelect" class="col-lg-10 col-lg-offset-1"
              ng-options="option.name for option in elt" ng-change="change()">
      </select>
    </div>
    <br>
    <div class="row">
      <div class="btn-group col-lg-10 col-lg-offset-1">
        <button class="btn btn-default col-lg-6" ng-click="add()">
          <span class="glyphicon glyphicon-plus-sign"></span>
          Add
        </button>
        <button class="btn btn-default col-lg-6" ng-click="list()">
          <span class="glyphicon glyphicon-refresh"></span>
          Refresh
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-8 container-fluid" ng-include="'views/listEntity.html'" >
  </div>
</div>
<br>
